$font: "proxima-nova", Arial, sans-serif;
$serif: "lust", Georgia, serif;
$padding: 10px;
$text: #333333;

$neutral-dark: #98A89E;
$neutral-light: #BAC0AC;
$bright-main: #2BD4BE;
$bright-alt: #FFB03B;