@import "variables";

body {
  font-family: $font;
  color: $text;
}

p {
  line-height: 1.75em;
  font-size: 1em;
}

a { color: $bright-main; text-decoration: none; }
a:hover { color: $bright-alt; }

// Landing page specific styles
#home {
  padding-top: $padding * 5;
  text-align: right;
  h1 {
    font-size: 3em;
  }
}

// Nav menu
.menu {
  padding-top: $padding * 5;
  p {
    margin-bottom: $padding * 3;
  }
}

// Generic headers
h1, h2 { 
  font-family: $serif;
  font-weight: 400;
}

// Blog things
#blog {
  .meta-date {
    font-family: $font;
    text-transform: uppercase;
    font-size: 0.8em;
    padding: $padding / 2;
    color: $bright-alt;
    font-weight: 700;
  }
  
  .meta-comment {
    font-family: $font;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 700;
    text-align: right;
    a {
      color: $bright-alt;
      text-decoration: none;
    }
  }

  .topdot {
    border-top: 1px dotted $neutral-light;
    margin-top: $padding * 4;
    padding-top: $padding * 3;
  }

  ul, li {
    line-height: 2em;
  }
}

// Icons
.icony { padding: $padding; }
a.icony { color: $bright-alt; text-decoration: none; }
a.icony:hover { color: $bright-main; }

// Text color helpers
.neutral-dark { color: $neutral-dark }
.neutral-light { color: $neutral-light }
.bright-main { color: $bright-main }
.bright-alt { color: $bright-alt }

// Background color helpers
.back-neutral-dark { background: $neutral-dark }
.back-neutral-light { background: $neutral-light }
.back-bright-main { background: $bright-main }
.back-bright-alt { background: $bright-alt }

// Min-height helpers
.height0x { min-height: $padding / 2; }
.height1x { min-height: $padding * 2.5; }
.height2x { min-height: $padding * 5; }
.height3x { min-height: $padding * 7; }
.height4x { min-height: $padding * 9; }

// Text align helpers
.center { text-align: center; }
.right { text-align: right; }

// Font size helpers
.large { font-size: 1.7em; }
.medium { font-size: 1.2em; }
.small { font-size: 0.9em; }

// Font weight helpers
.weight300 { font-weight: 300; }
.weight400 { font-weight: 400; }
.weight700 { font-weight: 700; }
.weight900 { font-weight: 900; }

// Nav
a.link-neutral-dark { 
  background: $neutral-dark;
  text-decoration: none;
  color: $text;
  padding: $padding; 
  font-weight: 300;
}

a.link-neutral-light { 
  background: $neutral-light;
  text-decoration: none;
  color: $text;
  padding: $padding; 
  font-weight: 300;
}

a.link-bright-main { 
  background: $bright-main;
  text-decoration: none;
  color: $text;
  padding: $padding; 
  font-weight: 300;
}

a.link-bright-alt { 
  background: $bright-alt;
  text-decoration: none;
  color: $text;
  padding: $padding; 
  font-weight: 300;
}

a.link-neutral-dark:hover { 
  background: $bright-main;
  text-decoration: none;
}

a.link-neutral-light:hover { 
  background: $bright-alt;
  text-decoration: none;
}

a.link-bright-main:hover { 
  background: $neutral-dark;
  text-decoration: none;
}

a.link-bright-alt:hover { 
  background: $neutral-light;
  text-decoration: none;
}