---
layout: default
title: Liz Abinante &bull; Web developer with opinions
---
<p class="pad-bottom-small">
  Liz Abinante is an engineer living in Portland working for New Relic. She has served as co-leader for the Chicago chapter of Girl Develop It, and currently volunteers as an advisor and for the curriculum review team nationally. She is infectiously enthusiastic about web development, teaching, learning, and feminism. Her greatest dream in life is to spend her entire day surrounded by puppies while coding.
</p>

<h2 class="pad-bottom center">
  <a href="contact">Contact Liz</a>
</h2>

<h2 class="pad-bottom-small center">
  Find more Liz
</h2>
<p class="center">
  <a href="http://twitter.com/feministy" class="pad-small"><i class="fa fa-twitter"></i> I hope you like feminist rants, because that's kinda my thing.</a>
</p>

<p class="center pad-bottom">
  <a href="http://feministy.io/" class="pad-small"><i class="fa fa-pencil"></i> Blog</a>
  <a href="http://github.com/feministy" class="pad-small"><i class="fa fa-github"></i> GitHub</a>
</p>

<h2 class="center pad-bottom-small">Talks</h2>
<div class="pad-bottom">
  {% for post in site.categories.talk %}
    <a href="{{post.speakerdeck}}">{{ post.title }}</a>
    <p class="pad-bottom-small">
      <span class="small">
        {% if post.conf %}
          <a href="{{ post.linky }}">{{ post.conf}}</a> on
        {% endif %}
        {{ post.date | date: "%B %-d, %Y" }}
        {% if post.video %}
          <a href="{{ post.video }}">Watch talk online</a>
        {% endif %}
      </span>
    </p>
  {% endfor %}
</div>

<h2 class="script center pad-bottom-small">Interviews</h2>
<div class="pad-bottom-small">
  <p class="pad-bottom-small">
    <a href="http://www.builtinchicago.org/blog/4-women-devs-who-are-leading-way-chicagos-tech-scene-liz-abinante">Profile</a> for <a href="http://www.builtinchicago.org/blog/4-women-devs-leading-way-chicago-tech">Built in Chicago</a><br>
    <span class="small">May 2014.<br>"Fixing the gender gap will take time. Kids consume mobile technology much more aggressively today; technology is more immediately related to what they’re doing on the day to day. My advice: find what you love and be happy."</span>
  </p>

  <p class="pad-bottom-small">
    <a href="http://vimeo.com/86336625">Video</a> for <a href="http://devbootcamp.com/she-codes/">Dev Bootcamp She Codes</a><br>
    <span class="small">January 2014.<br>"And if anyone gets me in my way, I will find a way around them."</span>
  </p>

  <p class="pad-bottom-small">
    <a href="http://vimeo.com/86425892">Video</a> by <a href="http://www.jenniferstarrs.com/">Jennifer Starrs</a> about women in computing<br>
    <span class="small">February 2014.<br>"If Abinante can become an engineer in a year, imagine what she'll be doing in 5."</span>
  </p>
</div>

