/* General site design */

body {
    font-family: 'Raleway';
  	font-style: normal;
  	font-weight: 400;
  	background: #ffffff;
}

.bold {
	font-weight: 700;
}

.small {
	font-size: 0.75em;
}

a {
	text-decoration: none;
	color: #666666;
	font-weight: 700;
}

a:hover {
	color: #000000;
}

h1 {
	font-family: 'League Script';
	font-size: 10em;
	font-style: normal;
	color: #666666;
}

#hello {
	z-index: 2;
	position: absolute;
	margin-left: 75px;
	margin-top: 15px;
}

#img {
	z-index: 4;
	position: absolute;
	margin-left: 750px;
	margin-top: 75px;
}

img {
	border: 10px #666666 solid;
	border-radius: 100px;
}

#background {
	z-index: 1;
	position: absolute;
	margin-left: 170px;
	margin-top: 170px;
	padding: 0px;
	width: 700px;
	height: 270px;
	background: #FFCC33;
	border-radius: 70px;
}

#intro {
	z-index: 3;
	position: absolute;
	margin-left: 220px;
	margin-top: 220px;
	width: 610px;
	font-size: 2em;
}

#more {
	z-index: 3;
	position: absolute;
	margin-top: 450px;
	margin-left: 220px;
	width: 600px;
	height: 100px;
	font-size: 0.9em;
	padding: 0px;
	line-height: 1.5em;
	text-align: justify;
}
