// typography styling

h1, h2, h3, h4, h5, h6 {
  font-family: $font-accent;
  text-transform: uppercase;
}

.intro {
  font-family: $font-accent;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.8em;
  color: $dark-gray;
  margin-bottom: 10px;
}

// helper classes

.accent {
  font-family: $font-accent;
}

.center {
  text-align: center;
}

.dark-gray {
  color: $dark-gray;
}

.italic {
  font-style: italic;
}

.bold300 {
  font-weight: 300;
}

.bold700 {
  font-weight: 700;
}

.bold900 {
  font-weight: 900;
}

.large {
  font-size: 2em;
  line-height: 1em;
}

.middle-gray {
  color: $middle-gray;
}

.serif {
  font-family: $font-serif;
}

.small {
  font-size: 0.8em;
}

.uppercase {
  text-transform: uppercase;
}

