// fonts
$font-sans: 'proxima-nova', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-serif: 'museo-slab', "Georgia", serif;
$font-accent: 'brandon-grotesque', "Helvetica Neue", Helvetica, Arial, sans-serif;

// colors
$orange: #F04C16;
$gray: #DBDBD0;
$mustard: #EDBD1F;
$teal: #4CB09C;
$slate: #313B4A;
$text: #333333;