// fonts
$font-sans: 'proxima-nova';
$font-serif: 'museo-slab';
$font-accent: 'brandon-grotesque';

// colors
$lightest-gray: #eeeeee;
$light-gray: #dddddd;
$middle-gray: #7c7c7c;
$dark-gray: #555556;
$darkest-gray: #333333;
$purple: #B08CFF;
$light-purple: #e3d8ff;