@import 'variables';

body {
  font-family: $font-sans;
  font-size: 1.25em;
  background: #fff;
  color: $text;
}

a {
  color: $teal;
  text-decoration: none;
  @include transitionAll(800ms);
  &:hover {
    color: $gray;
  }
}

p {
  line-height: 1.75em;
  text-align: justify;
  color: $text;
  margin: 0;
}

.pad-small {
  padding: 15px;
}

.pad-bottom {
  margin-bottom: 80px;
}

.pad-bottom-small {
  margin-bottom: 30px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-accent;
  text-transform: uppercase;
  font-weight: 900;
}

h1.intro {
  font-size: 1.75em;
  text-align: center;
}

.script {
  font-family: $font-script;
  text-transform: none;
}

h1 {
  .script {
    font-size: 2.5em;
  }
}

h2.script {
  font-size: 2.5em;
}

#container {
  max-width: 800px;
  margin: 0 auto;
}

#main {
  padding: 100px 0px;
}

.center {
  text-align: center;
}

.small {
  font-size: 75%;
}

.img-circle {
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius: 50%;
  @include boxShadow;
}

.large {
  font-size: 1.75em;
}

.uppercase {
  text-transform: uppercase;
}