@import "colors";

@mixin buttonGradient($color) {
  @include background-image(linear-gradient(lighten(color($color), 5%), lighten(color($color), 2%), color($color)));
}

@mixin buttonGradientDefault {
  @include background-image(linear-gradient(lighten(color(gray), 50%), lighten(color(gray), 45%), lighten(color(gray), 30%)));
}

.button {
  @include box-shadow(lighten($text, 50%) 2px 2px 10px);
  @include buttonGradientDefault;
  color: $white;
  display: inline-block;
  padding: 2px 5px;
  &.large {
    @include adjust-font-size-to(18px);
    padding: 5px 10px;
  }
  &.red {
    @include buttonGradient(red);
  }
  &.orange {
    @include buttonGradient(orange);
  }
  &.nth-color:nth-child(3n) {
    @include buttonGradient(teal);
    &:hover {
      @include buttonGradientDefault;
    }
  }
  &.nth-color:nth-child(3n+1) {
    @include buttonGradient(red);
    &:hover {
      @include buttonGradientDefault;
    }
  }
  &.nth-color:nth-child(3n+2) {
    @include buttonGradient(orange);
    &:hover {
      @include buttonGradientDefault;
    }
  }
  &:hover {
    @include buttonGradientDefault;
  }
}