$colors: (
  teal: #80DDBE,
  red: #FC584C,
  orange: #FF8D45,
  gray: #333336
);

$white: darken(#fff, 3%);
$text: map-get($colors, gray);

@function color($color) {
  @return map-get($colors, $color);
}

@function color_dark($color) {
  @return darken(map-get($colors, $color), 20%);
}

@function color_light($color) {
  @return lighten(map-get($colors, $color), 20%);
}

@function color_lightest($color) {
  @return lighten(map-get($colors, $color), 70%);
}

@each $color, $hex in $colors {
  .text-#{$color} {
    color: $hex;
  }

  .text-#{$color}-light {
    color: lighten($hex, 30%);
  }

  .text-#{$color}-lightest {
    color: lighten($hex, 50%);
  }

  .background-#{$color} {
    background-color: $hex;
  }

  .background-#{$color}-lightest {
    background-color: lighten($hex, 70%);
  }
}