#home {
  padding-top: 10px;
  h1 {
    @include adjust-font-size-to(72px);
    font-weight: 700;
    text-align: center;
  }
  h2 {
    @include adjust-font-size-to(24px);
    text-align: center;
  }
}