@import "colors";

$sidebar: 200px;
$smallCell: 50px;

#container {
  padding: 20px;
  max-width: 1100px;
  margin: 0 auto;
}

img.scaled {
  width: 100%;
}

.right {
  float: right;
}

.clickable {
  cursor: pointer;
}

.margin-10 {
  margin: 10px;
}

.flex {
  @include display-flex;

  .cell {
    @include flex(1 0);
  }

  .cell-fixed-left {
    @include flex(0 0 $sidebar);
    padding-right: 30px;
    border-right: 1px solid color_lightest(gray);
  }

  .cell-fixed-right {
    @include flex(0 0 $sidebar);
    padding-left: 30px;
  }

  .cell-small {
    @include flex(0 0 $smallCell);
  }

  .cell-large {
    @include flex(1 0);
  }
}

.flex-grid {
  @include display-flex;
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(center);
  .cell {
    @include flex(0 0 40%);
    padding: 0px 20px 100px 20px;
    &.padding-bottom-small {
      padding-bottom: 20px;
    }
    img {
      max-width: 100%;
      margin: 0 auto;
    }
  }
}

.flex-grid--small {
  @include display-flex;
  @include flex-direction(row);
  @include flex-wrap(wrap);
  .cell {
    @include flex(0 0 40%);
    @include display-flex;
    padding-right: 20px;
    .small {
      @include flex(0 0 $smallCell);
    }
    .large {
      @include flex(1 0);
    }
  }
}

