@import "colors";

#nav {
  background-color: color_lightest(gray);
  border-bottom: 1px solid darken(color_lightest(gray), 10%);
  .stripe {
    height: 5px;
    width: 100%;
  }
  .nav-menu {
    li {
      @include adjust-font-size-to(12px);
      display: inline;
      a {
        padding: 4px 12px;
        color: color_light(gray);
        text-transform: uppercase;
        &:hover {
          color: color(gray);
          background-color: $white;
          text-decoration: none;
        }
      }
      &:first-child {
        padding-left: 20px;
      }
      &:last-child {
        padding-right: 0px;
      }
    }
  }
  li.active {
    a {
      color: color(gray);
      background-color: $white;
      &:hover {
        color: color_light(gray);
      }
    }
  }
}