@import "colors";
@import "typography";
@import "functions";

#pattern {
  h4 {
    padding-bottom: 5px;
  }

  .materials {
    @include adjust-font-size-to(12px);
  }

  .material {
    padding: 10px 0px;
  }

  .content {
    padding-left: 30px;
    display: block;
    .separator-top {
      @include border-top;
      margin-top: 10px;
    }
  }

  ul.separated {
    padding-left: 20px;
    li {
      list-style-type: circle;
    }
  }

  .pattern-custom-instructions {
    @extend .background-gray-lightest;
    padding: 10px;
  }

  .custom {
    margin-bottom: 15px;
  }

  #abbreviations, .special_abbreviations {
    @include adjust-font-size-to(12px);
    @include border-top;
    padding-bottom: 20px;
  }

  .pattern-version {
    @include adjust-font-size-to(12px);
    @include border-top;
  }
}
