@media print {
  #nav, #ravelry, .cell-fixed-right, #footer .right {
    display: none;
  }

  #container, #content, .materials, #pattern, .flex, .cell-fixed-left, .content {
    display: block;
  }

  .flex .cell-fixed-left {
    border: 0;
  }

  #pattern .content {
    padding-left: 0px;
    padding: 0px;
    margin: 0px;
  }

  .header {
    padding-bottom: 10px;
  }

  @page {
    margin: 2cm 1cm;
  }

  a:after {
    content: " (link : " attr(href) ") ";
    font-size: 80%;
  }
}