@media (max-width: 800px) {
  #container {
    max-width: 680px;
  }

  .flex-grid .cell {
    @include flex(0 0 80%);
  }

  #nav .nav-menu {
    li {
      display: block;
      &:first-child {
        padding-left: 0px;
      }
      a {
        display: block;
        text-align: center;
      }
    }
  }
}