@import "colors";

$min-line-padding: 3px;
$font: "Avenir", "Helvetica Neue", "Helvetica", Arial, sans-serif;

html {
  @include establish-baseline;
}

body {
  @include adjust-font-size-to(18px);
  font-family: $font;
  color: $text;
}

em {
  font-style: italic;
}

.content {
  @include adjust-font-size-to(14px);
}

section {
  padding: 20px 0px;
}

em {
  font-style: italic;
}

a {
  color: color(teal);
  text-decoration: none;
  &:hover {
    color: color_dark(teal);
  }
}

h1 {
  @include adjust-font-size-to(36px);
}

h2 {
  @include adjust-font-size-to(24px);
}

h3 {
  @include adjust-font-size-to(20px);
}

h4 {
  @include adjust-font-size-to(16px);
  text-transform: uppercase;
}

h5 {
  text-decoration: underline;
}

.header {
  text-transform: lowercase;
  h1, h2 {
    display: inline-block;
  }
  h2:before {
    content: ' / ';
  }
  padding-bottom: 40px;
}

.text-heavy {
  font-weight: 700;
}

.text-medium {
  font-weight: 500;
}