@charset "utf-8";

$accent: "jubilat", "Georgia", serif;
$font: "Helvetica Neue", "Helvetica", sans-serif;

$regular: 300;
$bold: 600;
$heavy: 900;

$gray: #161616;
$highlight: #EA4C4E;
$white: #FDFFFF;

// ************************************************************************** //
// GLOBAL STYLES                                                              //
// ************************************************************************** //

body {
  color: $gray;
  background-color: $white;
  padding: 5% 0;
  font-family: $font;
  font-weight: $regular;
  font-size: 2.2rem;
}

a {
  border-bottom: 1px dotted lighten($gray, 60%);
  text-decoration: none;
  color: $gray;
  &:hover {
    color: $highlight;
  }
  &.highlight {
    color: $highlight;
    border-bottom: 0px;
    &:hover {
      color: $gray;
    }
  }
}

pre, code {
  font-family: "Droid Sans Mono", "Source Code Pro", monospace;
}

pre.highlight {
  padding: 10px 20px;
  font-size: 0.7em;
  line-height: 1.6em;
  width: 1000px;
  margin-left: -80px;
}

.code {
  line-height: initial;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $accent;
}

h1 {
  color: $highlight;
}

.intro {
  font-size: 2em;
  line-height: 1.5em;
  text-align: justify;
  background-color: $highlight;
  padding: 7% 15%;
  color: lighten($highlight, 25%);
  strong {
    font-weight: $heavy;
  }
  a {
    color: lighten($highlight, 25%);
    border-color: lighten($highlight, 25%);
  }
  .badges {
    font-size: 0.45em;
    text-align: center;
    a {
      margin-right: 40px;
      &:last-of-type {
        margin-right: 0px;
      }
    }
  }
}

.header, .content {
  margin: 0 auto;
  max-width: 840px;
  padding: 0px 3%;
}

.meta {
  font-size: 0.75em;
  color: lighten($gray, 55%)
}

ul.navigation {
  font-size: 0.9em;
  border-bottom: 1px dotted lighten($gray, 60%);
  li {
    display: inline;
    padding: 5px;
    a {
      color: lighten($gray, 50%);
      border-bottom: 0px;
    }
    &:last-of-type {
      margin-right: 0px;
    }
  }
}