@charset "utf-8";

$gray: #38363A;
$accent: lighten($gray, 50%);
$white: #FDFFFF;
$highlight: #FC564F;

body {
  color: $gray;
  background-color: $white;
}

.content {
  padding: 0px 5%;
}

p, .content ul li, #main ul li, .content ol li, #main ol li {
  font-size: 2.25rem;
  line-height: 4rem;
  text-align: justify;
}

a {
  color: $accent;
  text-decoration: none;
  transition: all 0.2s ease;
  &:hover {
    color: $highlight;
  }
}

ul.navigation {
  list-style-type: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  li {
    margin: 0px;
    padding: 10px 0px;
    a {
      padding: 10px 15px;
      color: $gray;
      &:hover {
        background-color: $accent;
        color: $white;
      }
    }
  }
}

pre, code {
  font-family: "Droid Sans Mono", "Source Code Pro", monospace;
}

small {
  font-weight: 300;
}

blockquote {
  margin: 20px 0px;
  padding: 20px;
  p {
    margin-bottom: 0;
    font-style: italic;
    padding-bottom: 0;
    text-align: left;
    font-weight: 400;
    font-size: 2.75rem;
    line-height: 4.5rem;
  }
}

.tags {
  font-size: 1.5rem;
}

.date {
  font-weight: 700;
  margin-right: 10px;
}

#header {
  text-align: center;
  padding: 10% 10px 10px 10px;
  h1 {
    font-size: 10rem;
    line-height: 1rem;
  }
  h2 {
    text-transform: uppercase;
    font-size: 2.1rem;
  }
}

h3 {
  padding-top: 0px;
  margin-top: 0px;
}

.lead {
  font-size: 3rem;
  line-height: 6rem;
}

.highlighted {
  color: $highlight;
  font-weight: 700;
}

small.date {
  font-weight: 400;
  font-size: 1.75rem;
}

p.summary {
  font-size: 1.5rem;
}

.right {
  float: right;
}

.code {
  line-height: initial;
}