<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <title>liz abinante <%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= stylesheet_link_tag "normalize", "skeleton", "all" %>
    <style>
      <%= Rouge::Themes::Github.render(:scope => '.highlight') %>
    </style>
  </head>
  <body>
    <div class="container" id="home">
      <div class="row">
        <div class="twelve columns image">
          <img src="/images/header.png" alt="Image of a young woman with short, curly, brown and pink hair.">
        </div>
      </div>
      <div class="row">
        <div class="twelve columns content">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
