---
layout: default
---
<h3 class="title center">
  {{ page.title }} <span class="weight700 green">&times;</span> <span class="blue-up">{{ page.category }}</span> <br>
  <span class="small">
    <span class="up">Posted On {{ page.date | date_to_string }}</span>
    <span class="weight400 green">&times;</span>
    <span class="blue-up">{{ page.tags | array_to_sentence_string }}</span>
  </span>
</h3>

<div class="section">
  <div class="col span_1_of_9"></div>
  <div class="col span_7_of_9">
    <p>
      {{ content }}
    </p>
  </div>
  <div class="col span_1_of_9"></div>
</div>

