/* line 3, ../sass/main.scss */
body {
  font-family: "proxima-nova", Arial, sans-serif;
  color: #333333;
}

/* line 8, ../sass/main.scss */
p {
  line-height: 1.75em;
  font-size: 1em;
}

/* line 13, ../sass/main.scss */
a {
  color: #2bd4be;
  text-decoration: none;
}

/* line 14, ../sass/main.scss */
a:hover {
  color: #ffb03b;
}

/* line 17, ../sass/main.scss */
#home {
  padding-top: 150px;
}
/* line 19, ../sass/main.scss */
#home h1 {
  font-size: 3.5em;
}

/* line 25, ../sass/main.scss */
.menu {
  padding-top: 50px;
}
/* line 27, ../sass/main.scss */
.menu p {
  margin-bottom: 30px;
}

/* line 33, ../sass/main.scss */
h1, h2, h3 {
  font-family: "jubilat", Georgia, serif;
  font-weight: 400;
}

/* line 40, ../sass/main.scss */
#blog .meta-date {
  font-family: "proxima-nova", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 0.8em;
  color: #ffb03b;
  font-weight: 700;
}
/* line 48, ../sass/main.scss */
#blog .meta-comment {
  font-family: "proxima-nova", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 700;
  text-align: right;
}
/* line 54, ../sass/main.scss */
#blog .meta-comment a {
  color: #ffb03b;
  text-decoration: none;
}
/* line 60, ../sass/main.scss */
#blog .topdot {
  border-top: 1px dotted #bac0ac;
  margin-top: 40px;
  padding-top: 30px;
}
/* line 66, ../sass/main.scss */
#blog ul, #blog li {
  line-height: 2em;
}
/* line 70, ../sass/main.scss */
#blog img {
  padding-right: 20px;
  border: 0;
}
/* line 75, ../sass/main.scss */
#blog .img-circle {
  border-radius: 500px;
}

/* line 80, ../sass/main.scss */
.ultra-top {
  padding-top: 50px;
}

/* line 81, ../sass/main.scss */
.ultra-right {
  padding-right: 30px;
}

/* line 84, ../sass/main.scss */
a.icony {
  color: #ffb03b;
  text-decoration: none;
  padding-right: 30px;
}

/* line 90, ../sass/main.scss */
a.icony:hover {
  color: #2bd4be;
}

/* line 93, ../sass/main.scss */
.neutral-dark {
  color: #98a89e;
}

/* line 94, ../sass/main.scss */
.neutral-light {
  color: #bac0ac;
}

/* line 95, ../sass/main.scss */
.bright-main {
  color: #2bd4be;
}

/* line 96, ../sass/main.scss */
.bright-alt {
  color: #ffb03b;
}

/* line 99, ../sass/main.scss */
.back-neutral-dark {
  background: #98a89e;
}

/* line 100, ../sass/main.scss */
.back-neutral-light {
  background: #bac0ac;
}

/* line 101, ../sass/main.scss */
.back-bright-main {
  background: #2bd4be;
}

/* line 102, ../sass/main.scss */
.back-bright-alt {
  background: #ffb03b;
}

/* line 105, ../sass/main.scss */
.height0x {
  min-height: 5px;
}

/* line 106, ../sass/main.scss */
.height1x {
  min-height: 25px;
}

/* line 107, ../sass/main.scss */
.height2x {
  min-height: 50px;
}

/* line 108, ../sass/main.scss */
.height3x {
  min-height: 70px;
}

/* line 109, ../sass/main.scss */
.height4x {
  min-height: 90px;
}

/* line 112, ../sass/main.scss */
.center {
  text-align: center;
}

/* line 113, ../sass/main.scss */
.right {
  text-align: right;
}

/* line 116, ../sass/main.scss */
.large {
  font-size: 1.7em;
}

/* line 117, ../sass/main.scss */
.medium {
  font-size: 1.2em;
}

/* line 118, ../sass/main.scss */
.small {
  font-size: 0.8em;
}

/* line 121, ../sass/main.scss */
.weight300 {
  font-weight: 300;
}

/* line 122, ../sass/main.scss */
.weight400 {
  font-weight: 400;
}

/* line 123, ../sass/main.scss */
.weight700 {
  font-weight: 700;
}

/* line 124, ../sass/main.scss */
.weight900 {
  font-weight: 900;
}

/* line 127, ../sass/main.scss */
a.link-neutral-dark {
  background: #98a89e;
  text-decoration: none;
  color: #333333;
  padding: 6.66667px;
  font-weight: 300;
}

/* line 135, ../sass/main.scss */
a.link-neutral-light {
  background: #bac0ac;
  text-decoration: none;
  color: #333333;
  padding: 6.66667px;
  font-weight: 300;
}

/* line 143, ../sass/main.scss */
a.link-bright-main {
  background: #2bd4be;
  text-decoration: none;
  color: #333333;
  padding: 6.66667px;
  font-weight: 300;
}

/* line 151, ../sass/main.scss */
a.link-bright-alt {
  background: #ffb03b;
  text-decoration: none;
  color: #333333;
  padding: 6.66667px;
  font-weight: 300;
}

/* line 159, ../sass/main.scss */
a.link-neutral-dark:hover {
  background: #2bd4be;
  text-decoration: none;
}

/* line 164, ../sass/main.scss */
a.link-neutral-light:hover {
  background: #ffb03b;
  text-decoration: none;
}

/* line 169, ../sass/main.scss */
a.link-bright-main:hover {
  background: #98a89e;
  text-decoration: none;
}

/* line 174, ../sass/main.scss */
a.link-bright-alt:hover {
  background: #bac0ac;
  text-decoration: none;
}
