* {margin:0;padding:0;}

html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {overflow:auto;
  padding-bottom: 40px;}  /* must be same height as the footer */

#footer {position: relative;
  margin-top: -40px; /* negative value of footer height */
  height: 40px;
  clear:both;}

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}