/* line 3, ../sass/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "brandon-grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

/* line 8, ../sass/_typography.scss */
.intro {
  font-family: "brandon-grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.8em;
  color: #333333;
  margin-bottom: 10px;
}

/* line 19, ../sass/_typography.scss */
.accent {
  font-family: "brandon-grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 23, ../sass/_typography.scss */
.center {
  text-align: center;
}

/* line 27, ../sass/_typography.scss */
.italic {
  font-style: italic;
}

/* line 31, ../sass/_typography.scss */
.bold300 {
  font-weight: 300;
}

/* line 35, ../sass/_typography.scss */
.bold700 {
  font-weight: 700;
}

/* line 39, ../sass/_typography.scss */
.bold900 {
  font-weight: 900;
}

/* line 43, ../sass/_typography.scss */
.large {
  font-size: 2em;
  line-height: 1em;
}

/* line 48, ../sass/_typography.scss */
.serif {
  font-family: "museo-slab", "Georgia", serif;
}

/* line 52, ../sass/_typography.scss */
.small {
  font-size: 0.8em;
}

/* line 56, ../sass/_typography.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 4, ../sass/main.scss */
body {
  font-family: "museo-slab", "Georgia", serif;
  font-size: 1em;
  background: #fff;
  color: #333333;
}

/* line 11, ../sass/main.scss */
p {
  line-height: 1.75em;
  text-align: justify;
  color: #333333;
}

/* line 17, ../sass/main.scss */
.post {
  margin-top: 40px;
}
/* line 19, ../sass/main.scss */
.post p {
  font-size: 1.15em;
  line-height: 2.2em;
  margin-bottom: 20px;
}

/* line 26, ../sass/main.scss */
a {
  text-decoration: none;
  font-weight: 300;
  color: #f04c16;
}

/* line 32, ../sass/main.scss */
h1 {
  color: #313b4a;
}
/* line 34, ../sass/main.scss */
h1 a {
  color: #313b4a;
}

/* line 40, ../sass/main.scss */
h2 a {
  color: #edbd1f;
}

/* line 46, ../sass/main.scss */
h3 a {
  color: #edbd1f;
}

/* line 51, ../sass/main.scss */
.icony {
  margin-top: 40px;
}
/* line 53, ../sass/main.scss */
.icony a {
  padding-left: 20px;
  padding-right: 20px;
  color: #4cb09c;
}

/* line 60, ../sass/main.scss */
#header {
  padding: 80px 0px 10px 0px;
}

/* line 64, ../sass/main.scss */
.footer {
  border-top: 1px solid #edbd1f;
  margin: 50px;
  padding: 50px;
}

/* line 70, ../sass/main.scss */
.center {
  text-align: center;
  margin: 0 auto;
}

/* line 75, ../sass/main.scss */
.circle-img {
  vertical-align: middle;
  border: 0;
  border-radius: 50%;
}

/* line 81, ../sass/main.scss */
.circle {
  width: 100px;
  height: 100px;
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  display: inline-block;
  margin: 10px;
}

/* line 106, ../sass/main.scss */
.circle.orange {
  background-color: #f04c16;
}

/* line 108, ../sass/main.scss */
.circle.mustard {
  background-color: #edbd1f;
}

/* line 109, ../sass/main.scss */
.circle.teal {
  background-color: #4cb09c;
}

/* line 110, ../sass/main.scss */
.circle.slate {
  background-color: #313b4a;
}
