<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/stylesheets/syntax.css">
        <link rel="stylesheet" href="/stylesheets/typography.css">
        <link rel="stylesheet" href="/stylesheets/minified-grid.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="stylesheet" href="/stylesheets/sticky-footer.css">

        <!-- Google fonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
    </head>
    <body>

      <div id="wrap">
        <nav></nav>
        <header></header>
        <section></section>      
      </div>

    <div id="footer"> 
        <footer>
          {% include _footer.html %}
        </footer>
    </div>

    <script src="/js/modernizr-2.5.3-min.js"></script>
    <script src="/js/selectivizr-min.js"></script>
    </body>
</html>
