<h2>Hi, hello, some stuff.</h2>

<h3>I thought that writing a bio in third person would be weird, and it turns out, I was right. But here it is anyways.</h3>

<p>
  Liz Abinante lives in Portland, Oregon and works as a Senior Software Engineer at New Relic. Previously, she has served as co-leader for the Chicago chapter of Girl Develop It where she focused on creating and teaching programming curriculum for beginning and advanced levels in addition to organizing and attending meetups. She is infectiously enthusiastic about web development, teaching, learning, and feminism. She enjoys speaking at conferences, knitting, sewing, and a hacking away on interesting problems. Her greatest dream in life is to spend her entire day surrounded by puppies while coding.
</p>

<p>
  She swears she's a lot more interesting than this bio makes her sound. She's often been compared to cartoon characters due to her enomorous personality and penchant for sing/dancing her way through life.
</p>

<p>
  Liz primarily works with JavaScript, Ruby, and Java, and she dabbles in Elixir in her personal time. She has strong opinions about clean code, accessibility, testing, and static websites.
</p>
