<h1>Hi, hello, some stuff.</h1>

<p>
  <em>I thought that writing a bio in third person would be weird, and it turns out, I was right. But here it is anyways.</em>
</p>

<p>
  Liz Abinante is an engineer living in Portland working for New Relic. Previously, she has served as co-leader for the Chicago chapter of Girl Develop It where she focused on creating and teaching programming curriculum for beginning and advanced levels in addition to organizing and attending meetups. She is infectiously enthusiastic about web development, teaching, learning, and feminism. She enjoys speaking at conferences, knitting, sewing, and a hacking away on interesting problems. Her greatest dream in life is to spend her entire day surrounded by puppies while coding.
</p>

<p>
  She swears she's a lot more interesting than this bio makes her sound. She's often been compared to cartoon characters due to her enomorous personality and penchat for sing/dancing her way through life.
</p>

<p>
  Liz primarily works with JavaScript, Ruby, Rails, Angular, Ember, and React. She has strong opinions about clean code, accessibility, testing, and static websites.
</p>
