<h3>about</h3>

<p>
  Liz Abinante is an engineer living in Portland working for New Relic. Previously, she has served as co-leader for the Chicago chapter of Girl Develop It. She is infectiously enthusiastic about web development, teaching, learning, and feminism. She enjoys speaking at conferences, knitting, and a hacking away on interesting problems. Her greatest dream in life is to spend her entire day surrounded by puppies while coding.
</p>
<p>
  Liz primarily works with JavaScript, Ruby, Rails, Angular, and Ember. She has strong opinions about clean code, accessibility, and testing. She is currently on a quest to learn C. <a href="https://github.com/feministy" target="_blank">View Github</a>.
</p>
