<h3>contact</h3>

<p>
  I hate email from recruiters. Don't email me, recruiters. Seriously. Don't. You won't win.
</p>

<p>
  But! I like most other <a href="mailto:me@liz.codes">email</a>.
</p>

<p>
  I also like <a href="https://twitter.com/feministy" target="_blank">tweets</a>.
</p>