<h2>Let's be friends!</h2>

<h3>
  I like talking to people. 
</h3>

<p>
  (you're probably not surprised)
</p>

<p>
  I like <a href="mailto:me@liz.codes">email</a>, especially from underrepresented people in tech.
</p>

<p>
  You can also find me as <em>@feministy</em> in the Women in Tech Slack.
</p>

<p>
  If you're looking for mentorship, advice, or perhaps some feedback on your CFP, I may not be able to help out a <em>ton</em>, but asking is never a bad thing! I'll always reply as quickly as I can even if I can't help.
</p>

<p>
  I also like <a href="https://twitter.com/feministy" target="_blank">tweets</a>.
</p>

<h3>Dear recruiters,</h3>

<p>
  I am very happy with my job and am not looking for a new one. I don't plan on looking for a new one. <strong>Please do not contact me with details about openings or contracts.</strong> I'm a very nice person but I really don't like it when people try to convince me something is right for me when I know it isn't.
</p>

<p>
  Don't be the person who thinks they know me better than me and contact me anyways. That is very rude. I know you're just doing your job and I don't blame you for trying, but your email will just get deleted.
</p>

<p>
  <em>Thanks!</em>
</p>
