<h1>Contact</h1>

<p>
  I hate email from recruiters. Don't email me, recruiters. Seriously. Don't. You won't win. I'm a very nice person but I really don't like it when people try to convince me something is right for me when I know it isn't.
</p>

<p>
  But! I like most other <a href="mailto:me@liz.codes">email</a>, especially from underrepresented people in tech looking to connect!
</p>

<p>
  I also like <a href="https://twitter.com/feministy" target="_blank">tweets</a>.
</p>