---
layout: home
---

<p class="lead">
  <strong>Hello!</strong> I <a href="/writing">write</a> and <a href="/talks">speak</a> about diversity, web development and design, education, and accessibility. I <a href="http://twitter.com/feministy">tweet</a> (a lot) about the tech industry. You can <a href="http://tinyletter.com/feministy">subscribe</a> to my articles, too! Learn more <a href="/about">about me</a> or <a href="/contact">get in touch</a>.
</p>

<p class="lead">
  My most recent article is: <%= link_to most_recent(blog.articles, "blog", 1).first.title, most_recent(blog.articles, "blog", 1).first %>
</p>

<p class="lead">
  <strong>
    I'm currently accepting speaking and workshop requests for 2016 conferences.
  </strong>
  Find out more <a href="/speaker-info">speaker info</a>.
</p>
