<h1>writing: recently</h1>
<% most_recent(blog.articles, "blog", 4).each_with_index do |article, i| %>
  <div class="post post-excerpt">
    <h2><%= link_to article.title, article %></h2>

    <p>
      <%= article.summary(250, ' ...') %>
    </p>

    <div class="tags">
      <p><%= article.date.strftime('%B %e, %Y') %></p>
      <% article.tags.each do |tag| %>
        <% if tag != 'blog' %>
          <span class="tag"><%= tag %></span>
        <% end %>
      <% end %>
    </div>

  </div>
<% end %>
