<h3>speaker info</h3>

<p>
  I love public speaking. There are lots of things I speak about, but what I talk about doesn't matter nearly as much to me as connecting with an audience and engaging them in a thoughtful way. I am a super energetic speaker, and have frequently been compared to a cartoon character. I prepare thoroughly for every talk and make a strong effort to make my topic approachable and engaging to my audience.
</p>

<p>
  I've been a teacher for most of my life, covering beginning and advanced programming topics, among others. I love teaching workshops in addition to speaking! I helped develop much of the curriculum used by the Chicago chapter of Girl Develop It, so I am comfortable creating my own materials.
</p>

<p>
  You can view abstracts, videos, and slides from my past speaking engagements and a select number of workshops <a href="/talks">here</a>.
</p>

<p>
  <em>Please note that I only speak at conferences that have a code of conduct and organizers who have experience working with codes of conduct.</em>
</p>

<p>
  Interested? Email me @ liz.codes
</p>

<h4>availability</h4>

<p>
  I'm currently making a schedule for events taking place in 2016. <strong>I am always happy to hear from community organizations, meetups, and events in addition to conferences</strong>, especially those focused on serving underrepresented groups in tech.
</p>

<p>
  I can't attend every conference, but I try to attend as many as I can. The sooner you ask the better your chances are at me being available, especially during the fall conference season or if your conference will involve traveling a large distance from Portland, Oregon.
</p>

<p>
  Upcoming events can be found below. If your event is on the same dates and is located near or in the same city as another speaking engagement, it makes it much easier for me to say yes!
</p>

<h5>2016 event schedule</h5>

<p>
  <em>Currently scheduling!</em>
</p>

<h4>what i do</h4>

<p>
  I make it my goal to knock it out of the park with every single talk, event, and workshop. I want to engage people, help them learn something new, make them laugh, and make them feel energized. I want to wow an audience.
</p>

<p>
  To that end, you can also expect:
</p>

<ul>
  <li>Beautifully hand-illustrated or artfully designed original slides</li>
  <li>Well-researched, politically aware topics</li>
  <li>Beginner- and advanced-friendly technical topics with compelling takeaways and shared lessons</li>
  <li>A performance, not a lecture</li>
</ul>

<p>
  If I'm presenting a topic I've given before, you can expect re-designed slides, updated information based on previous feedback, and additional modifications to tailor the talk to your event's audience.
</p>

<p>
  After I've accepted a speaking engagement, I will promote the shit out of your event on <a href="http://twitter.com/feministy">Twitter</a>. I'll help connect you with organizations that serve underrepresented groups (especially if you're offering scholarships or discounted tickets) and provide introductions. If I am familiar with the area locally, I will also help you form a relationship with your local organizations focused on underrepresented groups.
</p>

<p>
  I bring my own equipment (Retina MacBook Pro, 15" or 13") and have backup copies of all of my presentation material. If the event includes code samples or workshop materials, I make them publicly available before, during, and after the conference via my website (<em>hello, you are here</em>).
</p>

<p>
  You can also expect clear and timely communication with me regarding any additional tasks.
</p>

<h4>what i (hope) you do</h4>

<p>
  It's a lot easier for me to speak at your event if:
</p>

<p>
  <strong>You pay, or help pay, for my travel.</strong> I sometimes travel and speak at events on my company's behalf, but it's unlikely that my employer will cover travel costs to a conference they are not sponsoring. I prefer to book my travel as soon as possible to get the best prices, and appreciate being reimbursed promptly. I travel from Portland, Oregon.
</p>

<p>
  <strong>You pay me!</strong> I expect to be paid for speaking engagements and workshops; I can't accept <em>every</em> unpaid speaking engagement, but I can accept some, so don't be afraid to ask! In general, I will waive speaking fees if the event is for a (a) community focused non-profit, or (b) minority-focused group or organization. If you can't pay your speakers, that's ok, but please let me know up front so I have all of the information I need to decide if we can work together.
</p>

<p>
  <strong>You have event information ready for me.</strong> Things like the expected audience, what A/V equipment is provided, slide resolution, any additional events outside of the talk you'd like me to attend, and the event schedule. I love info. Do not ever worry about sending me too much info.
</p>

<p>
  <strong>You love your event.</strong> This just makes it more fun :)
</p>