<h2>I love public speaking.</h2>

<h3>
  You can view abstracts, videos, and slides from my past speaking engagements and a select number of workshops <a href="/talks">here</a>.
</h3>

<p>
  What I speak about doesn't matter nearly as much to me as connecting with an audience and engaging them in a thoughtful way. I am a super energetic speaker who prepares thoroughly for every talk.
</p>

<p>
  I have a strong educational background, both as an instructor and with curriculum development. I have experience covering beginning and advanced programming topics, among others. I love teaching workshops in addition to speaking! I helped develop much of the curriculum used by the Chicago chapter of Girl Develop It, and am comfortable both with creating my own materials and teaching using an established deck.
</p>

<p>
  Please note that I only speak at conferences that have a code of conduct and organizers who have experience working with codes of conduct. <em>This is a dealbreaker.</em>
</p>

<p>
  Interested? <a href="mailto:me@liz.codes">Email</a> me!
</p>

<h2>Availability</h2>



<p>
  I'm pretty much always available for events located on the west coast of the US. <strong>I cannot accept additional speaking engagements until September 2016.</strong>
</p>

<p>
  <em>I am always happy to hear from community organizations, meetups, and events in addition to conferences</em>, especially those focused on serving underrepresented groups in tech.
</p>

<p>
  I can't attend every conference, but I try to attend as many as I can. The sooner you ask the better your chances are at me being available, especially during the fall conference season or if your conference will involve traveling a large distance from Portland, Oregon.
</p>

<h3>Upcoming talks</h3>

<ul>
  <li>August 3-5 <a href="http://2016.cascadiajs.com/" target="#">CascadiaFest</a> in Blaine, WA</li>
</ul>

<h2>What I do</h2>

<p>
  I make it my goal to knock it out of the park with every single talk, event, and workshop. I want to engage people, help them learn something new, make them laugh, and make them feel energized. I want to wow an audience.
</p>

<p>
  To that end, you can also expect:
</p>

<ul>
  <li>Beautifully hand-illustrated or artfully designed original slides</li>
  <li>Well-researched, politically aware topics</li>
  <li>Beginner- and advanced-friendly technical topics with compelling takeaways and shared lessons</li>
  <li>A performance, not a lecture</li>
</ul>

<p>
  If I'm presenting a topic I've given before, you can expect re-designed slides, updated information based on previous feedback, and additional modifications to tailor the talk to your event's audience.
</p>

<p>
  After I've accepted a speaking engagement, I will promote the shit out of your event on <a href="http://twitter.com/feministy">Twitter</a>. I'll help connect you with organizations that serve underrepresented groups (especially if you're offering scholarships or discounted tickets) and provide introductions. If I am familiar with the area locally, I will also help you form a relationship with your local organizations focused on underrepresented groups.
</p>

<p>
  I bring my own equipment (Retina MacBook Pro, 15" or 13") and have backup copies of all of my presentation material. If the event includes code samples or workshop materials, I make them publicly available before, during, and after the conference via my website (<em>hello, you are here</em>).
</p>

<p>
  You can also expect clear and timely communication with me regarding any additional tasks.
</p>

<h2>What (I hope) you do</h2>

<p>
  It's a lot easier for me to speak at your event if:
</p>

<p>
  <strong>You have event information ready for me.</strong> You don't have to have it <em>right now, right now</em>, but a two-four weeks before the event is great. Things like the expected audience, what A/V equipment is provided, slide resolution, any additional events outside of the talk you'd like me to attend, and the event schedule. I love info. Do not ever worry about sending me too much info.
</p>

<p>
  <strong>If my company can't cover travel: you can, or you can help.</strong> I sometimes travel and speak at events on my company's behalf, but it's unlikely that my employer will cover travel costs to a conference they are not sponsoring. I prefer to book my travel as soon as possible to get the best prices, and appreciate being reimbursed promptly. I travel from Portland, Oregon.
</p>

<p>
  <strong>If it's a workshop, you pay me!</strong> This covers all manner of workshops from technical to interviewing and soft skills. In general, I will waive, donate, or reduce fees if the event is for a (a) community focused non-profit, or (b) minority-focused group or organization.
</p>

<p>
  <strong>You love your event.</strong> This just makes it more fun :)
</p>