<div class="posts">
  <% most_recent(blog.articles, "talk").each_with_index do |article, i| %>
    <p><%= link_to article.title, article %></p>
    <div class="row">
      <div class="columns one"></div>
      <div class="columns eleven">
        <p>
          <strong>Date:</strong> <%= article.date.strftime('%B %e, %Y') %>
          <br>
          <strong>Event:</strong> <%= article.data['conf'] %>
          <br>
          <strong>Location:</strong> <%= article.data['location'] %>
        </p>
      </div>
    </div>
  <% end %>
</div>