<h1>writing: archives</h1>
<div class="posts">
  <% most_recent(blog.articles, "blog").each_with_index do |article, i| %>
    <div class="post post-excerpt">
      <h2><%= link_to article.title, article %></h2>

      <div>
        <p><%= article.date.strftime('%B %e, %Y') %></p>
        <% article.tags.each do |tag| %>
          <% if tag != 'blog' %>
            <span class="tag"><%= tag %></span>
          <% end %>
        <% end %>
      </div>

    </div>
  <% end %>
</div>