body {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 1em;
  background: #FFFFFF;
  line-height: 1.75em;
  color: #333333;
}

p {
  line-height: 2em;
  text-align: justify;
  font-weight: 300;
}

.meta {
  line-height: 1.2em;
  font-size: 0.9em;
  padding-top: 30px;
}

.times {
  font-size: 3.4em;
}

.title {
  padding-top: 30px;
}

h1 {
  font-size: 7em;
  padding-top: 50px;
}

h3 {
  font-family: 'Roboto Slab';
  font-weight: 100;
  color: #333333;
  font-size: 2em;
}

.index-title {
  font-size: 1.5em;
  font-weight: 300;
}

.weight700 {
  font-weight: 700;
}

.weight400 {
  font-weight: 400;
}

.weight300 {
  font-weight: 300;
}

.small {
  font-size: 0.45em;
}

a {
  color: #333333;
  text-decoration: underline;
}

.center {
  text-align: center;
}

.blue {
  font-weight: 400;
  color: #04BFBF;
}

.green {
  font-weight: 400;
  color: #A9CF54;
}

.up {
  text-transform: uppercase;
}

.green-up {
  font-family: 'Roboto Slab';
  color: #A9CF54;
  font-weight: 100;
  text-transform: uppercase;
}

.blue-up {
  font-family: 'Roboto Slab';
  color: #04BFBF;
  font-weight: 400;
  text-transform: uppercase;
}

ul.nav, li.nav {
  display: inline;
  padding: 15px;
  margin: 0;
  font-weight: 300;
  font-size: 0.95em;
}

a.nav {
  color: #A9CF54;
  text-decoration: none;
}

/*Pagination*/

.right {
  text-align: right;
}

.previous {
  background: #04BFBF;
  padding: 10px;
  font-weight: 300;
}

.next {
  background: #A9CF54;
  padding: 10px;
  font-weight: 300;
}

.disabled {
  color: #FFFFFF;
}

/*Turquoise*/
.border-1 {
  position: fixed;
  padding: 10px;
  width: 100%;
  top: 0px;
  left: 0px;
  border-top: 3px solid #04BFBF;
}

/*Light aqua*/
.border-2 {
  position: fixed;
  padding: 10px;
  width: 100%;
  top: 3px;
  left: 0px;
  border-top: 3px solid #CAFCD8;
}

/*Yellow*/
.border-3 {
  position: fixed;
  padding: 10px;
  width: 100%;
  top: 6px;
  left: 0px;
  border-top: 3px solid #F7E967;
}

/*Light green*/
.border-4 {
  position: fixed;
  padding: 10px;
  width: 100%;
  top: 9px;
  left: 0px;
  border-top: 3px solid #A9CF54;
}

/*Dark green*/
.border-5 {
  position: fixed;
  padding: 10px;
  width: 100%;
  top: 12px;
  left: 0px;
  border-top: 3px solid #588F27;
}
